<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
<div *ngIf="set">
    <h2>{{set.name}}</h2>
        <div><label>id: </label>{{set.id}}</div>
    <div>
        <label>Set name: </label>
        <input [(ngModel)]="set.name" placeholder="name" (ngModelChange)="isChanged()"/>
    </div>
    <ul>
        <li *ngFor='#word of set.word'>
            ENG: 
            <input [(ngModel)]="word.eng" placeholder="eng" (ngModelChange)="isChanged()"/>
            PL:  
            <input [(ngModel)]="word.pl" placeholder="pl" (ngModelChange)="isChanged()"/>
        </li>
    </ul>
    <button [disabled]="disabled" (click)="updateSet()">Save</button>    
    <input #eng>
    <input #pl >
    <button (click)="addWord(eng.value,pl.value); eng.value='';pl.value=''">Add word </button>
    <button (click)="goBack()">Back</button>  
</div>