<div class="box" *ngIf="set">
    <h2>{{set.name}}</h2>
    <button (click)="english()">English</button>
    <button (click)="polish()">Polish</button>

    <div *ngIf="clickEnglish">
        <div class="translate">
            <div  *ngIf="showTranslate">
                <div *ngIf="selectedSet"> {{selectedSet.pl}}</div>
            </div>
        </div>
        <ul class="words">
            <li *ngFor='#word of set.word' [class.selected]="word === selectedSet" (click)="onSelect(word)">
                ENG:
                <label>{{word.eng}}</label>
            </li>
        </ul>
    </div>
    <div *ngIf="clickPolish">
        <div class="translate">
            <div *ngIf="showTranslate">
                <div *ngIf="selectedSet"> {{selectedSet.eng}}</div>
            </div>
        </div>
        <ul class="words">
            <li *ngFor='#word of set.word' [class.selected]="word === selectedSet" (click)="onSelect(word)">
                PL:
                <label>{{word.pl}}</label>
            </li>
        </ul>
    </div>
    <div>
    <button (click)="goBack()">Back</button>
        </div>
</div>

