<div class="container">
    <div class="newset">
        <input class="newsetinput" #newSet placeholder="New set" />
        <button (click)="addSet(newSet.value); newSet.value=''">Add Set</button>
    </div>
    <ul class="sets">
        <li *ngFor="#set of sets" [class.selected]="set === selectedSet" (click)="onSelect(set)">
            <div class="set">
                <span class="details">{{set.name}}</span>
                <ul class="words">
                    <li *ngFor='#word of set.word'>
                        ENG: {{word.eng}}, PL: {{word.pl}}
                    </li>
                </ul>
            </div>
        </li>

    </ul>
    <div *ngIf="selectedSet">
        <h2>{{selectedSet.name | uppercase}}</h2>
        <button (click)="gotoDetail()">View Details</button>
        <button (click)="gotoFlashCards()">Flash Cards</button>
        <button class="delete" (click)="deleteSet(selectedSet)">Delete set</button>
    </div>
</div>