<div class="main">
    <input class="newsetinput" #newSet placeholder="New set" />
    <button (click)="addSet(newSet.value); newSet.value=''">Add Set</button>
    <ul class="sets">
        <li *ngFor="#set of sets" [class.selected]="set === selectedSet" (click)="onSelect(set)">
            <span>{{set.name}}</span>
        </li>
    </ul>
    <div *ngIf="selectedSet">
        <h2>{{selectedSet.name | uppercase}}</h2>
        <button (click)="gotoDetail()">View Details</button>
        <button (click)="gotoFlashCards()">Flash Cards</button>
        <button class="delete" (click)="deleteSet(selectedSet)">Delete set</button>
    </div>
</div>